<!DOCTYPE html>
<html>
    <head>
        <title>뉴스 요약기
            
        </title>
    </head>
    <body>
        <p>
            <h1>뉴스 요약기</h1>
            <form action="\post" method="post" class="input-form">
                <p>url을 입력 해주세요: <input type = 'url' name='id_name' value="urld을 입력해주세요" class="input-text"></p>
                <p>몇줄 요약을 해드릴까요?   <input type = 'number' name="number" value="3" ></p>
                <p> <input type="submit" value="submit" class="input-btn"></p>   

            </form>
        </p>

    </body>
</html>